.workspacePanel {
  .event_list {
    .event_item {
      list-style: none;
      width: 90%;
      height: 50px;
      border-radius: 10px;
      background-color: white;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
